@page "/FindCustomer"
@using BlazorServerApp.Data
@using System.IO
@inject Service service


    <style>
    .textbox-parameters{
        background: Red;
    }
</style>



    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@Id">@Label</label>
    }
    <div class="input-group mb-3 " >
        <input type="text" class="form-control textbox-parameters" id="@Id" value="@Value" @onchange="this.OnChange">
    </div>
            
    @((MarkupString) houtput)


@code {
        
    static string Namer {set; get;} ="";
    int cider;
    
    string houtput {set; get;} ="";

    [Parameter] public string Value {get;set;} = "";
    [Parameter] public EventCallback<string> ValueChanged {get;set;}

    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Id { get; set; }

    private void OnChange(ChangeEventArgs e)
    {
        ValueChanged.InvokeAsync(e.Value.ToString());
        cider= int.Parse(e.Value.ToString());
        houtput =cider + " " + CustomerMethods.FindCustomer(Service.customers, cider);
    }
}