@page "/FindCustomerId"
@using BlazorServerApp.Data
@using System.IO
@inject Service service
@inject NavigationManager NavigateTo

@if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@Id">@Label</label>
    }
<p>Enter last name</p>
<div class="input-group mb-3 " >
        <input type="text" class="form-control textbox-parameters" id="@Id" value="@lastname" @onchange="this.OnChange">
    </div>
    @((MarkupString)houtput)

<p>Selected</p>

<select @bind="selectedPersonId" @onclick="@Hide2">
    <option value="">Select a Customer</option>
    @foreach (var person in myCust)
    {
        <option value="@person.customerid">@person.forename  phone: @person.phone  @person.customerid</option>
    }
</select>

@((MarkupString)houtput2)



@code{
    public string lastname {set;get;} ="";
    string LastSubmitResult ="";

    public string SelectedOpt { get; set; } = "";
    string cider;

    string selectout {set; get;} ="";

    static int selectedPersonId { get; set; }
       
    static string houtput {set; get;} ="";

    static string houtput2 {set; get;} ="";

    [Parameter] public string Value {get;set;} = "";
    [Parameter] public EventCallback<string> ValueChanged {get;set;}

    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Id { get; set; }

    public List<Customer> myCust = new List<Customer>();

    
  void ValidFormSubmitted(EditContext editContext)
  {
    LastSubmitResult = "OnValidSubmit was executed";
  }

  void InvalidFormSubmitted(EditContext editContext)
  {
    LastSubmitResult = "OnInvalidSubmit was executed";
  }
  
  private void OnChange(ChangeEventArgs e)
    {
        ValueChanged.InvokeAsync(e.Value.ToString());
        cider= e.Value.ToString()+"";
        houtput = "";
        houtput2 = "";
        
        myCust = Service.customers.Where(x => x.lastname == cider).ToList();
        houtput+= "<br>Customers matching " +myCust.Count() +"<br>";
       
        
        // myCust.FirstOrDefault(p => p.customerid == selectedPersonId)?.customerid;
        //tmp += "<br><select id=\"condition\" @onclick=\"@Hide\" @bind=\"@SelectedOpt\">";
        //int i=0;
        //foreach (Customer a in myCust)
        //{
        //    tmp  += "<option value=\"" +i +"\">" + a.lastname + " " + a.forename + " " + a.phone + " " + a.email +"</option>";
        // }
        ///houtput =tmp + "</select>";
        //houtput2 +=" <br> ------------------------- <br>" + selectedPersonId;
        //houtput2 += " " + myCust[selectedPersonId].forename + " " + myCust[selectedPersonId].lastname + "</b>";
        //houtput2 += " " + myCust[selectedPersonId].adress + "<br>";
        //houtput2 += " " + myCust[selectedPersonId].phone + "<br>";
        
    }
    //int selectedPersonName = myCust.First(p => p.customerid == selectedPersonId)?.customerid;
    private void Hide2()
    {
        if (selectedPersonId > 0)
        {
            //houtput2 =" <br> ------- selected Customer" + selectedPersonId;
            NavigateTo.NavigateTo($"/ProcessCustomer/{selectedPersonId}", true);
        }
        else 
        {
            houtput2 = "";
        }
        
    }

}
